/******************************************
/* Utilities
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header,
main, 
section
{
    border: 1px solid red;
    background-color: pink;
    margin: 20px;
}


body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
}

.container {
    border: none;
    width: 798px;
}
header {
     position: fixed;
     width: 100%;
     margin: 0 0;
}
.nav-item {
    width: 20%;
    float: left;
}

nav a:link {
    text-decoration: none;
    color: red;
}

nav ul {
	list-style: none;

}
section {
    height: 300px;

}

h4 {
    padding: 10px;
}
section p {
    padding: 10px;
    font-size: 1.2rem;
}

footer {
    background: lightblue;
    margin: auto;
}
footer p {
    font-size: 14px;
    font-weight: lighter;
    text-align: right;
    margin: 5px;

}







/******************************************
/* RESPONSIVE STYLES
/*******************************************/
@media screen and (max-width: 799px) {
    
    .container {
        width: 100%;
    }
    .nav-item {
        width: 100%;
        display: none;
}
    nav {
        display: none;
    }
    .second span {
        width: 100%;
    }
    .third span {
        width: 100%;
        display: none;
    }
}


